body{
padding-bottom: 0px;
margin-bottom: 0%;
text-align: center;
height: 0;
}


nav{
 border-style: solid;
 border-width: 10px;
 background-color: rgba(242, 242, 217, 0.513);
 border-color: rgb(169, 224, 135); 
 text-align: center;
 font-size: 25px;
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
 height: 6em;
 border-radius: 30px;
 font-weight: bold;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.style-b1, .style-a1, .style-c1, .style-d1, .style-e1{
 position: relative;
  margin-left: 15px;
 border-color: black;
 border-width: 4px;
 border-style: solid;
 width: 27%;
 top: 10px;
 border-radius: 10px;
 font-size: 37px;
}


.style-b2, .style-a2, .style-c2, .style-d2, .style-e2{
 position: relative;


 margin-left: -35%;
 bottom: 80px;
 left: 64%;
 border-color: black;
 border-width: 4px;
 border-style: solid;
 width: 18%;
 border-radius: 10px;
 font-size: 37px;
}




.style-b3, .style-a3, .style-c3, .style-d3, .style-e3{


 position: relative;


 margin-left: 48%;
 bottom: 113%;
 border-color: black;
 border-width: 4px;
 border-style: solid;
 width: 17%;
 border-radius: 10px;
 font-size: 37px;
 }

.style-b4, .style-a4, .style-c4, .style-d4, .style-e4{
 position: relative;
 margin-left: 66%;
 bottom: 173%;
 border-color: black;
 border-width: 4px;
 border-style: solid;
 width: 17%;
 border-radius: 10px;
 font-size: 37px;
}

.style-b5, .style-a5, .style-c5, .style-d5, .style-e5{
 position: relative;
 margin-left: 85%;
 bottom: 233%;
 border-color: black;
 border-width: 4px;
 border-style: solid;
 width: 13%;
 border-radius: 10px;
 font-size: 37px;
}


a:visited{
 text-decoration: none;
 color: black;
}


a:link{
 text-decoration: none;
 color: black;
}


.current-page{
 position: relative;
}


.current-page::after{
content: "This is the current page";
position: absolute;
left: 0px;
bottom: 44px;
width: 159%;
border-width: 10px;
font-size: 23px;
background: gray;
color: white;
padding: 8px;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transition: 0.3s;
}


.current-page:hover::after{
opacity: 1;
transition-delay: 1s;
}


.current-page-two{
 position: relative;
}
.current-page-two::after{


  content: "This is the current page";
position: absolute;
left: 0px;
right: 0px;
bottom: 44px;
width: 129%;
border-width: 10px;
font-size: 23px;
background: gray;
color: white;
padding: 8px;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transition: 0.3s;
}


.current-page-two:hover::after{
 opacity: 1;
transition-delay: 1s;
}


.current-page-three{
 position: relative;
}


.current-page-three::after{
  content: "This is the current page";
position: absolute;
left: 0px;
right: 0px;
bottom: 44px;
width: 119%;
border-width: 10px;
font-size: 23px;
background: gray;
color: white;
padding: 8px;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transition: 0.3s;
}


.current-page-three:hover::after{
 opacity: 1;
transition-delay: 1s;
}

.current-page-four{
 position: relative;
}

.current-page-four::after{
  content: "This is the current page";
  
  position: absolute;
left: 0px;
right: 0px;
bottom: 44px;
width: 119%;
border-width: 10px;
font-size: 23px;
background: gray;
color: white;
padding: 8px;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transition: 0.3s;
}

.current-page-four:hover::after{
 opacity: 1;
 transition-delay: 1s;
}

.current-page-five{
 position: relative;
}

.current-page-five::after{
  content: "This is the current page";
  
   position: absolute;
left: 0px;
right: 0px;
bottom: 44px;
width: 119%;
border-width: 10px;
font-size: 23px;
background: gray;
color: white;
padding: 8px;
border-radius: 5px;
opacity: 0;
pointer-events: none;
transition: 0.3s;
}

.current-page-five:hover::after{
 opacity: 1;
 transition-delay: 1s;
}

h1, p{
 text-align: center;
 color: Black;
 font-size: 30px;
}


a:active{
 color: red;
}


a:hover{
 color:  darkcyan;
}


.secret{
 color: white;
 background-color: ghostwhite;
}


img{
 width: 49%;
 height: 15em;
 border-style: solid;
 border-width: 3px;
 border-color: black;
}


.body-style{
 background-image: url(https://libapps-au.s3-ap-southeast-2.amazonaws.com/accounts/205143/images/Scientific-Method.png);
 background-repeat: no-repeat;
 background-size: 100%;
 height: 481px;
}


.hypothesis-style{
 background-color: lightgoldenrodyellow;
 border-width: 1px;
 border-radius: 4px;
 border-style: solid;
 border-color: black;
 margin-top: 40px;
 margin-left:  20%;
 margin-right: 20%;
 margin-bottom: 40px;
  padding-bottom: 5%;
}


.paper-rocket{
 width: 30%;
 height: 20em;
 border-style: solid;
 border-width: 3px;
 border-color: black;
}

button {
    position: relative;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    left: 45%;
    top: 50%;
    height: 10%;
    width: 10%;
}

button:hover {
    transform: scale(1.05);
}
